.LogoHeader {
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(114, 18, 18);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.LogoHeader img {
    max-width: 700px;
}

@media(max-width: 768px) {
    .LogoHeader img {
        width: 100%;
    }
}